<!doctype html>
<html lang="en">
  <head>
<!--FONTAWEOME-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Fast Parking</title>
  </head>
  <body>

<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-car-alt"></i> Fast Parking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin">Admin <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<!-- FINE NAVBAR-->

<!-- INIZIO CONTAINER CON JUMBOTRON -->
<div class="container mt-5">

  <div class="jumbotron">
    <h4 class="text-center">Fast Parking</h4>
  </div>

</div>
<!-- FINE CONTAINER CON JUMBOTRON -->

<div class="container">
<form action="/parcheggio" method="POST">
  <div class="form-group row">
    <label for="id" class="col-sm-2 col-form-label">ID</label>
    <div class="col-sm-10">
       <input type="text" class="form-control" value="<%= parcheggio._id%>" disabled>
<input type="hidden" class="form-control" name="id" value="<%= parcheggio._id%>" >
    </div>
  </div>
  <div class="form-group row">
    <label for="nome" class="col-sm-2 col-form-label">Nome</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="nome" id="nome" value="<%= parcheggio.name%>">
    </div>
  </div>
  <div class="form-group row">
    <label for="indirizzo" class="col-sm-2 col-form-label">Indirizzo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="indirizzo" id="indirizzo" value="<%= parcheggio.indirizzo%>">
    </div>
  </div>
  <div class="form-group row">
    <label for="tariffaoraria" class="col-sm-2 col-form-label">TariffaOraria</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="tariffaoraria" id="tariffaoraria" value="<%= parcheggio.tariffaoraria%>">
    </div>
  </div>
<button type="submit" class="btn btn-primary btn-lg btn-block">Salva</button>
</form>

<a href="/postiauto/<%=parcheggio._id%>"> Gestisci posti auto </a>

</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
